.cart-container {
    margin-top: 20px;
  }
  
  .cart-img {
    max-width: 100px;
    height: auto;
  }
  
  .table td, .table th {
    vertical-align: middle;
  }
  
  .text-end {
    text-align: right;
  }
  